# Logic, Control Flow and Filtering

## Comparison Operators

In [1]:
3>2

True

In [2]:
2==3

False

In [3]:
'carl' < 'chris'

True

In [4]:
True != False

True

In [5]:
y = "test"
print("test" <= y)

True

In [6]:
# Comparison of booleans
print(True > False)

True

In [7]:
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house>=18)

# my_house less than your_house
print(my_house<your_house)

[ True  True False False]
[False  True  True False]

## Boolean Operators

In [11]:
x = 12
x > 5 and x < 15

True

In [12]:
y = 5
y < 7 or y > 13

True

In [14]:
not True

False

In [17]:
my_house = np.array([18.0, 20.0, 10.75, 9.50])
my_house > 21 and my_house < 22 # cant use logical operators directly with numpy arrays

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [19]:
# Use logical_and, logical_or, logical_not for Numpy arrays
np.logical_and(my_house > 15, my_house < 22)

array([ True,  True, False, False])

In [20]:
my_house[np.logical_and(my_house > 15, my_house < 22)] # to get the actual values that satisfies the condition

array([18., 20.])

In [21]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

## Conditional Statements: if, elif, else

In [25]:
z = 4
if z % 2 == 0 :
    print("checking " + str(z))
    print("z is even")

checking 4
z is even

In [27]:
z = 5
if z % 2 == 0 :
    print("z is even")
else :
    print("z is odd")

z is odd

In [26]:
z = 3
if z % 2 == 0 :
    print("z is divisible by 2")
elif z % 3 == 0 :
    print("z is divisible by 3")
else :
    print("z is neither divisible by 2 nor by 3")

z is divisible by 3

In [28]:
z = 6
if z % 2 == 0 :
    print("z is divisible by 2") # Since this is true the other conditions are never checked
elif z % 3 == 0 :
    print("z is divisible by 3")
else :
    print("z is neither divisible by 2 nor by 3")

z is divisible by 2

## Filtering Pandas DataFrame

In [45]:
import pandas as pd
brics = pd.read_csv("datasets/brics.csv")
brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [46]:
brics = pd.read_csv("datasets/brics.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

#### Exercise 1: Select countries with area over 8 million km2
 3 steps:
- Select the area column
- Do comparison on area column
- Use result to select countries

In [33]:
brics[['area']] # Alternative 1: brics.loc[:,"area"]
                # Alternative 2: brics.iloc[:,2]

      area
BR   8.516
RU  17.100
IN   3.286
CH   9.597
SA   1.221

In [41]:
brics["area"] > 8

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [43]:
is_huge = brics["area"] > 8 

brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

#### Boolean operators

In [47]:
import numpy as np

bool_compare = np.logical_and(brics["area"] > 8, brics["area"] < 10) # area between 8 and 10

bool_compare

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [48]:
brics[bool_compare]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

#### Exercise 2:

In [52]:
# 1) Import cars data
import pandas as pd
cars = pd.read_csv('datasets/cars.csv', index_col = 0)
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [55]:
# 2) Extract drives_right column as Series: dr
dr = cars["drives_right"]
print(dr)

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [56]:
# 3) Use dr to subset cars: sel
sel = cars[dr] # or sel = cars[dr == True]

# 4) Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

#### Exercise 3:

In [57]:
# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True